@import url("./resource/bm-hanna-11yrs-old-woff.css");

html {
    background-color: #E6DED3;
    font-family: 'BM HANNA 11yrs old', cursive;
    user-select: none;
    
}

header {
    font-size: 3.8rem;
    color: #b13429;
    text-align: center;
    line-height: 0.8em;
}

section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    padding: 1rem;
    font-size: large;
    font-weight: 600;
    border-radius: 1rem;
    background-color: #b13429;
    color: white;
}

button:hover {
    cursor: pointer;
}

p {
    font-weight: 700;
    margin-top: 2.5rem;
}

a, a:visited {
    color: #b13429;
    margin: 0.2rem 0;
}