<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MateRunner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
				<key>dateExpires</key>
				<string>2022/10/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.20200225.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.30906.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61606624458AEB44EE5227405F4760374A80CAA0</string>
						<key>dateExpires</key>
						<string>2022/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.7</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B3PWYBKFUK.kr.codesquad.MateRunner</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B3PWYBKFUK</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MateRunner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ba4a89aa-7ac8-4b15-b6f9-fab35f4beaed</string>
				<key>dateExpires</key>
				<string>2022/11/11</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: kr.codesquad.MateRunner</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B3PWYBKFUK</string>
				<key>name</key>
				<string>Codesquad Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
